@model FinancePro.DataModels.MemberInfoModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>金利商业联盟</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <link rel="stylesheet" href="/webasset/css/supersized.css">
    <link rel="stylesheet" href="/webasset/css/login.css">
    <link href="/webasset/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
    <![endif]-->
    <script src="@Url.Content("/js/jquery/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="/webasset/js/jquery.form.js"></script>
    <script type="text/javascript" src="/webasset/js/tooltips.js"></script>
    <script type="text/javascript" src="/webasset/js/login.js"></script>
</head>

<body>

    <div class="page-container">
        <div class="main_box">
            <div class="login_box">
                <div class="login_logo">
                    <img src="/webasset/images/logo.png">
                </div>

                <div class="login_form">
                    @using (Html.BeginForm("Index", "Login", new { area = "WebFormArea" }, FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="j_username" class="t">帐　号：</label>
                            @Html.TextBoxFor(m => m.MemberCode, new { @class = "form-control x319 in", @placeholder = "账号", @autocomplete = "off" })                           
                        </div>
                        <div class="form-group">
                            <label for="j_password" class="t">密　码：</label>
                            @Html.PasswordFor(m => m.MemberLogPwd, new { @class = "password form-control x319 in", @placeholder="密码" })                            
                        </div>
                        <div class="form-group">
                            <label for="j_captcha" class="t">验证码：</label>
                            @Html.TextBoxFor(m => m.VerificationCode, new { @class="form-control x164 in"})
                            <img id="valiCode" alt="点击更换" title="点击更换" src="/WebFormArea/Login/GetImg" class="m">
                        </div>
                        <div class="form-group space">
                            <label class="t"></label>
                            <button type="submit" id="submit_btn"
                                    class="btn btn-primary btn-lg">
                                &nbsp;登&nbsp;录&nbsp;
                            </button>
                            <input type="reset" value="&nbsp;重&nbsp;置&nbsp;" class="btn btn-default btn-lg">
                            <label class="t" style="color:red;">@ViewData["ErrorStr"]</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript -->
    <script src="/webasset/js/supersized.3.2.7.min.js"></script>
    <script src="/webasset/js/supersized-init.js"></script>
    <script src="/webasset/js/scripts.js"></script>
    <script language="JavaScript" src="/webasset/webjs.js"></script>
</body>
</html>
