@model FinancePro.Areas.WebFormArea.Models.AddMemberViewModel
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/_WebFormLayout.cshtml";
}

<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="204" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">会员管理</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">添加新会员</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj2.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="204" align="left" valign="top">
            @Html.Action("LeftWebMenu", "IndexPub", new { area = "", type = 2 })
        </td>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="643" align="center" valign="top">
            @using (Html.BeginForm("AddMember", "WebHome", new { area = "WebFormArea" }, FormMethod.Post))
            {
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            &nbsp;
                            @Html.HiddenFor(m => m.member.MemberProvince)
                            @Html.HiddenFor(m => m.member.MemberCity)
                            @Html.HiddenFor(m => m.member.MemberArea)
                            @Html.HiddenFor(m => m.member.MemberSex)
                            @Html.HiddenFor(m => m.member.IsDerivativeMember)
                            @Html.HiddenFor(m => m.member.MemberType)
                            @Html.HiddenFor(m => m.member.SourceMemberCode)
                        </td>
                    </tr>
                </table>
                <table width="96%" border="1" cellpadding="5" cellspacing="0" bordercolor="#ABC9EF" style="border-collapse:collapse;">
                    <tr>
                        <td width="14%" height="28" align="center">会员编号</td>
                        <td>
                            @Html.TextBoxFor(m => m.member.MemberCode, new { @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td height="28" align="center">登录密码</td>
                        <td><input type="password" name="textfield2" /></td>
                    </tr>
                    <tr>
                        <td height="28" align="center">密码确认</td>
                        <td>@Html.PasswordFor(m => m.member.MemberLogPwd)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">二级密码</td>
                        <td>@Html.PasswordFor(m => m.member.MemberSecondPwd)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">真实姓名</td>
                        <td>@Html.TextBoxFor(m => m.member.MemberName)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">性别</td>
                        <td>
                            <p>
                                <label>
                                    <input type="radio" name="reagerRadios1" value="1" checked >
                                    男
                                    <input type="radio" name="reagerRadios1" value="2">
                                    女
                                </label>
                                <br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td height="28" align="center">手机号</td>
                        <td>@Html.TextBoxFor(m => m.member.MemberPhone)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">身份证号</td>
                        <td>@Html.TextBoxFor(m => m.member.MemberIDNumber, new { @size = "32" })</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">联系地址</td>
                        <td>
                            <select id="redrpprovince">
                                <option value="0">选择省份</option>
                                @foreach (var item in Model.regintable)
                                {
                                    <option value="@item.REGION_ID">@item.REGION_NAME</option>
                                }
                            </select>
                            <select id="redrpcity">
                                <option value="0"></option>
                            </select>
                            <select id="redrparea">
                                <option value="0"></option>
                            </select>
                            @Html.TextBoxFor(m => m.member.MemberAddress, new { @size = "32" })
                        </td>
                    </tr>
                    <tr>
                        <td height="28" align="center">银行卡号</td>
                        <td>@Html.TextBoxFor(m => m.member.MemberBankCode, new { @size = "32" })</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">银行户名</td>
                        <td>@Html.TextBoxFor(m => m.member.MemberBankUserName, new { @size = "32" })</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">开户支行</td>
                        <td>@Html.TextBoxFor(m => m.member.MemberBankName, new { @size = "32" })</td>
                    </tr>
                    <tr>
                        <td height="28" colspan="2" align="left">
                            <label>
                                &nbsp;&nbsp;&nbsp;
                                <input type="submit" name="Submit2" value="提交" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="reset" name="Submit22" value="重置" />
                            </label>
                        </td>
                    </tr>
                </table>
            }
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
