@model FinancePro.Areas.WebFormArea.Models.ApplyPOSViewModel
@{
    ViewBag.Title = "申请POS";
    Layout = "~/Views/_WebFormLayout.cshtml";
}

<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="204" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">配套商品</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">Pos机申请</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj2.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="204" align="left" valign="top">
            @Html.Action("LeftWebMenu", "IndexPub", new { area = "", type = 4 })
        </td>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="643" align="center" valign="top">
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            @using (Html.BeginForm("ApplyPOS", "WebHome", new { area = "WebFormArea" }, FormMethod.Post))
            { <table width="96%" border="1" cellpadding="5" cellspacing="0" bordercolor="#ABC9EF" style="border-collapse:collapse;">
                <tr>
                    <td width="20%" height="28" align="center">申请注意事项</td>
                    <td width="80%" style="line-height:22px;">
                        1.申请pos机需提供清晰无PS身份证正反面照片，手持身份证照片，银行卡照片<br />
                        2.收到POS机需及时消费3000元，以确保POS机正常使用<br />
                        3.每个身份证只能激活一台POS机，但可以使用不同身份证无限领取
                    </td>
                </tr>
                <tr>
                    <td height="28" align="center">手机号</td>
                    <td>@Html.TextBoxFor(m=>m.applymodel.MemberPhone)</td>
                </tr>
                <tr>
                    <td height="28" align="center">身份证号</td>
                    <td>@Html.TextBoxFor(m => m.applymodel.MemberIDNumber, new { @size = "32" })</td>
                </tr>
                <tr>
                    <td height="203" colspan="2" align="center">
                        <table width="97%" border="0" cellspacing="5" cellpadding="0" style="margin-top:15px;">
                            <tr>
                                <td height="46" align="left" valign="middle">
                                    <img id="idfpic" height="180" width="200" src="" class="pull-left">
                                    <span id="upload1" class="btn btn-lg btn-info fileinput-button pull-buttom">
                                        <i class="icon-plus icon-white"></i>
                                        <span>&nbsp;上传图片&nbsp;</span>
                                        <input id="fileupload" type="file" name="files[]" data-url="@Url.Action("UploadFiles", "public", new { area = "" })">
                                        @Html.HiddenFor(m => m.applymodel.IDNumberFrontPath)
                                    </span>
                                    <p id="erridfpic" class="text-danger"></p>
                                </td>
                                <td align="left" valign="middle">
                                    <img id="idbpic" height="180" width="200" src="" class="pull-left">
                                    <span id="upload2" class="btn btn-lg btn-info fileinput-button pull-buttom">
                                        <i class="icon-plus icon-white"></i>
                                        <span>&nbsp;上传图片&nbsp;</span>
                                        <input id="fileupload1" type="file" name="files[]" data-url="@Url.Action("UploadFiles", "public", new { area = "" })">
                                        @Html.HiddenFor(m => m.applymodel.IDNumberBackPath)
                                    </span>
                                    <p id="erridbpic" class="text-danger"></p>
                                </td>
                            </tr>
                            <tr>
                                <td height="26" align="left" valign="middle"><strong>身份证正面</strong></td>
                                <td align="left" valign="middle"><strong>身份证反面</strong></td>
                            </tr>
                            <tr>
                                <td height="50" align="left" valign="middle">
                                    <img id="idwhbpic" height="180" width="200" src="" class="pull-left">
                                    <span id="upload3" class="btn btn-lg btn-info fileinput-button pull-buttom">
                                        <i class="icon-plus icon-white"></i>
                                        <span>&nbsp;上传图片&nbsp;</span>
                                        <input id="fileupload2" type="file" name="files[]" data-url="@Url.Action("UploadFiles", "public", new { area = "" })">
                                        @Html.HiddenFor(m => m.applymodel.IDWithHandPath)
                                    </span>
                                    <p id="erridwhbpic" class="text-danger"></p>
                                </td>
                                <td align="left" valign="middle">
                                    <img id="cbpic" height="180" width="200" src="" class="pull-left">
                                    <span id="upload4" class="btn btn-lg btn-info fileinput-button pull-buttom">
                                        <i class="icon-plus icon-white"></i>
                                        <span>&nbsp;上传图片&nbsp;</span>
                                        <input id="fileupload3" type="file" name="files[]" data-url="@Url.Action("UploadFiles", "public", new { area = "" })">
                                        @Html.HiddenFor(m => m.applymodel.CardFrontPath)
                                    </span>
                                    <p id="errcbpic" class="text-danger"></p>
                                </td>
                            </tr>
                            <tr>
                                <td height="26" align="left" valign="middle"><strong>手持身份证照片</strong></td>
                                <td align="left" valign="middle"><strong>银行卡正面</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="28" align="center">收货地址</td>
                    <td>@Html.TextBoxFor(m => m.applymodel.ReceiveAddress)</td>
                </tr>
                  <tr>
                      <td height="28" align="center">备注</td>
                      <td>@Html.TextBoxFor(m => m.applymodel.ApplyRemark)</td>
                  </tr>
                <tr>
                    <td height="28" colspan="2" align="left">
                        <label>
                            &nbsp;&nbsp;&nbsp;
                            <input type="submit" name="Submit2" value="提交申请" />
                        </label>
                    </td>
                </tr>
            </table>
            }
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

@section mycss{
    <link rel="stylesheet" href="@Url.Content("/js/jquery-upload/css/jquery.fileupload.css")">
    <link rel="stylesheet" href="@Url.Content("/js/jquery-upload/css/jquery.fileupload-ui.css")">
}
@section scriptfiles{
    <!-- The basic File Upload plugin -->
    <script src="@Url.Content("/js/jquery-upload/js/vendor/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("/js/jquery-upload/js/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("/js/jquery-upload/js/jquery.fileupload.js")"></script>
}