@model FinancePro.Areas.WebFormArea.Models.ApplyCashViewModel
@{
    ViewBag.Title = "申请提现";
    Layout = "~/Views/_WebFormLayout.cshtml";
}
<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="204" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">财务管理</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">申请提现</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj2.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="204" align="left" valign="top">
            <table width="96%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="14">&nbsp;</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="tixian.htm">申请提现</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="tixianlist.htm">提现列表</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="huiyuanzhuanzhang.htm">会员转账</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="zhuanzhangliebiao.htm">转账列表</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="shouyimingxi.htm">收益明细</a></td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="28">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">帐号管理</font></strong></td>
                            </tr>
                            <tr>
                                <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="member.htm">个人资料</a></td>
                            </tr>
                            <tr>
                                <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="edit_password.htm">修改密码</a></td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="234" align="center" valign="bottom"><img src="/webasset/images/vip.jpg" width="184" height="221" /></td>
                </tr>
            </table>
        </td>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="643" align="center" valign="top">
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            @using (Html.BeginForm("ApplyCash", "WebHome", new { area = "WebFormArea" }, FormMethod.Post))
            {
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left"><span class="STYLE1">积分币申请提现</span></td>
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">当前积分币余额：<span class="STYLE1" id="memberpoints">@Model.memberpoint</span></td>
                        @Html.HiddenFor(m => m.mincashnum)
                        @Html.HiddenFor(m => m.maxnum)
                        @Html.HiddenFor(m => m.feenum)
                        @Html.HiddenFor(m => m.basenum)
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">提现手续费率：<span class="STYLE1">@(Model.feenum)%</span></td>
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">
                            申请提现金额：
                            <label>
                                @Html.TextBoxFor(m => m.cashorder.CashNum, new { @size = "10", @onchange = "cashvaluechange()" })
                            </label>
                            <span style="color:red;">金额必须为@(Model.basenum)的整倍数</span>
                        </td>
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">
                            手续费用：
                            <label>
                                @Html.TextBoxFor(m => m.cashorder.CashNum, new { @disable = "disable" })
                            </label>
                        </td>
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">
                            开户银行：
                            <label>
                                @Html.TextBoxFor(m => m.cashorder.CashBankName, new { @size = "25" })
                            </label>
                        </td>
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">
                            开户银行账户名字：
                            <label>
                                @Html.TextBoxFor(m => m.cashorder.CashBankUserName, new { @size = "10" })
                            </label>
                        </td>
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">
                            开户银行卡号：
                            <label>
                                @Html.TextBoxFor(m => m.cashorder.CashBankCode, new { @size = "20" })
                            </label>
                        </td>
                    </tr>
                </table>
                <table width="97%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="49" align="left">
                            <label>
                                <input type="submit" name="Submit" value="提交" />
                            </label>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>
