@using Webdiyer.WebControls.Mvc
@model FinancePro.Areas.WebFormArea.Models.FormCurryDetailLogViewModel
@{
    ViewBag.Title = "报单币收益明细";
    Layout = "~/Views/_WebFormLayout.cshtml";
}

<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="204" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">财务管理</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">收益明细</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj2.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="204" align="left" valign="top">
            @Html.Action("LeftWebMenu", "IndexPub", new { area = "", type = 1 })
        </td>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="643" align="center" valign="top">
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <table width="96%" border="1" cellpadding="5" cellspacing="0" bordercolor="#666666" style="border-collapse:collapse;">
                <tr>
                    <td width="23%" align="center"><strong>结算时间</strong></td>
                    <td width="38%" align="center"><strong>变动描述</strong></td>
                    <td width="9%" align="center"><strong>变动数量</strong></td>
                    <td width="15%" align="center"><strong>变动前</strong></td>
                    <td width="15%" align="center"><strong>最终数量</strong></td>
                </tr>
                @if (Model.loglist != null)
                {
                    foreach (var item in Model.loglist)
                    {
                        <tr>
                            <td height="22">@item.AddTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td height="22">@item.Remark</td>
                            <td height="22">@((item.NFormCurreyNum - item.BFormCurreyNum) > 0 ? "+" + (item.NFormCurreyNum - item.BFormCurreyNum) : (item.NFormCurreyNum - item.BFormCurreyNum).ToString())</td>
                            <td height="22">@item.BFormCurreyNum</td>
                            <td height="22">@item.NFormCurreyNum</td>
                        </tr>
                    }
                }
                <tr>
                    <td height="28" colspan="10" align="right">
                        <label></label>
                        @Html.Pager(Model.loglist, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
                    </td>
                </tr>
            </table>
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="49" align="right">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
