@model FinancePro.Areas.WebFormArea.Models.WebHomeIndexViewModel
@{
    Layout = "~/Views/_WebFormLayout.cshtml";
}

<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="250" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">会员管理</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td width="416" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">最新公告</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-4.jpg" width="17" height="36" /></td>
        <td width="150" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">报单币</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="250" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="14">&nbsp;</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">会员帐号：@Model.MemberInfo.MemberCode</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">激活会员列表</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">帐号类型：主账号</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">报单中心：否</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">我的子账号：<font color="#FF0000">1</font> 个</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">待激活子账号：<font color="#FF0000">2</font> 个</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">直属有效帐号：<font color="#FF0000">3</font> 个</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;">我的直属帐号：<font color="#FF0000">11</font> 个</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="28">&nbsp;</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="221" align="center" valign="bottom"><img src="/webasset/images/vip.jpg" width="184" height="221" /></td>
                </tr>
            </table>
        </td>
        <td width="16" align="left" valign="top">&nbsp;</td>
        <td width="417" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="14">&nbsp;</td>
                </tr>

                @for (int i = 0; i < 8; i++)
                {
                    if (Model.AdminSiteNews.Count < 1)
                    {
                        <tr>
                            <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:repeat-x;"></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:repeat-x;">【公告】@(Model.AdminSiteNews[i].STitle.Length > 16 ? Html.Raw(Model.AdminSiteNews[i].STitle.Substring(0, 16)) : Html.Raw(Model.AdminSiteNews[i].STitle))[@(Model.AdminSiteNews[i].SAddTime.ToString("yyyy.MM.dd"))]</td>
                        </tr>
                    }

                }

            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="28">&nbsp;</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">新手入门</font></strong></td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:repeat-x;">【入门】恭喜金利商业联盟VIP平台正式...</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:repeat-x;">【入门】恭喜金利商业联盟VIP平台正式上线...</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:repeat-x;">【入门】恭喜金利商业联盟VIP平台正式...</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:repeat-x;">【入门】恭喜金利商业联盟VIP平台正式上线...</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:repeat-x;">【入门】热烈庆祝金利商业联盟VIP平台正式上线..</td>
                </tr>
            </table>
        </td>
        <td width="16" align="left" valign="top">&nbsp;</td>
        <td width="151" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="60"><font color="#FF0000">@Model.FormCurreyCount</font>个</td>
                </tr>
                <tr>
                    <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">积分币</font></strong></td>
                </tr>
                <tr>
                    <td height="60"><font color="#FF0000">@Model.CapitalDetail.MemberPoints</font>个</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">游戏币</font></strong></td>
                </tr>
                <tr>
                    <td height="60"><font color="#FF0000">@Model.CapitalDetail.GameCurrency</font>个</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">复利币</font></strong></td>
                </tr>
                <tr>
                    <td height="60"><font color="#FF0000">@Model.CapitalDetail.CompoundCurrency</font>个</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">购物币</font></strong></td>
                </tr>
                <tr>
                    <td height="60"><font color="#FF0000">@Model.CapitalDetail.ShoppingCurrency</font>个</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">股权币</font></strong></td>
                </tr>
                <tr>
                    <td height="60"><font color="#FF0000">@Model.CapitalDetail.SharesCurrency</font>个</td>
                </tr>
            </table>
        </td>
        <td width="10"></td>
    </tr>
</table>
