@model FinancePro.Areas.WebFormArea.Models.UserInfoViewModel
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/_WebFormLayout.cshtml";
}

<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="204" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">会员管理</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">个人资料</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj2.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="204" align="left" valign="top">
            @Html.Action("LeftWebMenu", "IndexPub", new { area = "", type = 2 })
        </td>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="643" align="center" valign="top">
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            @using (Html.BeginForm("UserInfo", "WebHome", new { area = "WebFormArea" }, FormMethod.Post))
            {
                <table width="96%" border="1" cellpadding="5" cellspacing="0" bordercolor="#ABC9EF" style="border-collapse:collapse;">
                    <tr>
                        <td width="14%" height="28" align="center">会员编号</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberCode, new { @style="border:0px",@readonly="readonly"})<label></label>@Html.HiddenFor(m=>m.userinfo.ID)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">真实姓名</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberName)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">手机号</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberPhone)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">邮箱</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberEmail)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">身份证号</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberIDNumber)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">银行卡号</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberBankCode)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">银行户名</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberBankUserName)</td>
                    </tr>
                    <tr>
                        <td height="28" align="center">开户支行</td>
                        <td>@Html.TextBoxFor(m => m.userinfo.MemberBankName)</td>
                    </tr>
                    <tr>
                        <td height="28" colspan="2" align="left">
                            <label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="submit" name="Submit2" value="保存" />
                            </label>
                            <label style="color:red;">@ViewData["errorstr"]</label>
                        </td>
                    </tr>
                </table>
            }
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
